

.headerma {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100% ;
  z-index: 1000;
  /* background-color: #414141;  */
  padding: 20px 40px;
  transition: background-color 0.3s ease;
}

.navbarma{
width: 100% !important;
display: flex ;
align-items: center;
justify-content: space-between ;

}
.headerma.scrolled {
background-color: white;
box-shadow: 0 0 10px #ccc;
}
.logoma img{
width: 180px !important;
height: auto !important;
}
.navma{
display: block !important;
align-items: center;
justify-content: right;
}
.navma{
display: block !important;
align-items: center;
}
.linkma{
padding-right: 10px;
margin-left: 22%;
border-bottom: 1px solid #000;
max-width: 400px;
display: flex ;
align-items: center;
margin-bottom: 3px;

}
.line-barma{
width: 1px;
height: 15px;
background-color: #000;
margin: 0 5px;
}
.linkma li{
padding: 0 7px;
}

.linkma a{
text-align: right;
text-decoration: none;
color: #000;
font-family: 'Aileron-Light';
text-transform: uppercase;
font-size: 13px;
/* font-weight: 600; */
}
.linkma a:hover{
color: #00666a;
}
.menuBarma{
display: flex;
position: relative;
}
.btn-close1{
position: absolute;
right: 30px;
top: 10px;
display: none;
color: #fff;
font-size: 19px;
cursor: pointer;
}
.menuBarma li{
padding: 0 10px;
}
.menuBarma li a{
text-decoration: none;
color: #000;
font-family: 'Aileron-Light';
}
.menuBarma li a:hover{
color:#00656b;
font-weight: 600;
}
.barma{
cursor: pointer;
display: none;
}
.fa-bars {
font-size: 25px;
/* color: #00656b; */
}



/* responsive */

@media(max-width:999px){
  
  .linkma a{
    font-size: 12px;
   
  }
  .menuBarma li{
    padding: 0 8px;
    text-align: center;
  }
 

}


@media(max-width:768px){
  header {
    padding: 0 0;
  }
  .btn-close1{
    display: block;
  }
    .navbarma{
        display: flex ;
        align-items: start !important;
        justify-content: space-between;
        padding:  20px !important;
        position: relative;
      
      }
      .navma{
        width: 100%;
        height: 100vh;
        background-color: #00656b;
        opacity: 0;
        visibility: hidden;
        transform: translateX(40px);
        transition: 0.4s linear;
        position: absolute;
        z-index: 9999;
        padding: 60px 0;
        display: grid;
        place-items: center;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
      }
    
      .linkma{
        position: absolute;
        border-bottom: none;
        display: grid;
        place-items: center;
        /* max-width: 100%; */
        bottom: 35%;
        left: 0;
        right: 0;
        transform: translate(0, 10%);
      }
      .line-barma{
       display: none;
      }
      .linkma li{
        padding: 5px 0;
      }
      .linkma li:hover{
        background-color: #fff;
        border-radius: 50px;
      }

      .linkma a{
        color: #ffffff;
        font-size: 20px;
        text-transform: none;
      }
      .navma a{
        color: #fff;
      }
    .menuBarma{
     
        display: block;
        
   
      }
      .menuBarma li{
        padding: 8px 10px;
        text-align: center;
      }
      .menuBarma li a{
        color: #fff;
        font-weight: 500;
        font-size: 20px;
      }
      .navma.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
      .navma.hide{
        display: none;
      }
      .barma{
        display: block;
      }
      .menuBarma li:hover{
        background-color: #fff;
        border-radius: 50px;
      }
      
}

@media(max-width:600px){
  .headerma {
    padding: 20px 30px;
  }
}

@media(max-width:400px){
  .logoma img{
    width: 150px !important;
    height: auto !important;
  }
  .linkma{
    transform: translate(-10px, 10%);
  }
}