.testimonial-Section{
  display: grid;
  place-items: center;
position: relative;
margin: 80px 0;
}

.testimonial-Section::after{
  position: absolute;
  content: "";
  width: 30%;
  height: 1px;
  background-color: #000;
  right: 10px;


}
.testimonial-Section::before{
  position: absolute;
  content: "";
  width: 30%;
  height: 1px;
  background-color: #000;
  left: 10px;
}
.testimonial-div{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 0 30px;
  display: grid;
  place-items: center;
}


.ab-testimonials h4{
  font-family: 'Aileron-Thin';
  font-size: 32px;
  letter-spacing: 10px;
  padding-bottom: 15px;
}
.testimonials{
  display: grid;
  place-items: center;
  padding: 0 30px;

}
.testimonials p{
  font-family: 'Aileron-Light';
  font-size: 18px;
  padding-top: 15px;
}

  #name{
    font-weight: 600;
  }
  #name span{
    font-weight: normal;
  }
  .photos{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    background-color: yellow;
  
  }
  .photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .explore{
    border: none;
    background-color: #029094;
    color: #fff;
    padding: 8px 15px;
    font-family: 'Aileron-Thin';
    letter-spacing: 5px;
    font-size: 13px;
  }

  
@media(max-width:1440px){

  .testimonial-Section::after{
    width: 20%;
  }
  .testimonial-Section::before{
    width: 20%;
  }
}

@media(max-width:999px){
    
  .testimonial-Section::after{
    display: none;
   }
   .testimonial-Section::before{
     display: none;
   }
   .testimonial-div{
     width: 100%;
     margin: 80px auto;
     text-align: center;
     padding: 0 30px;
     display: grid;
     place-items: center;
   }
}
@media(max-width:400px){
  .explore{
    margin-bottom: 35px;
     }
  .ab-testimonials h4{
    font-family: 'Aileron-Thin';
    font-size: 28px;
    letter-spacing: 10px;
    padding-bottom: 15px;
  }
}