
.serv-container{
    margin-top: 8%;
    height: 40vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 30px;
    
  }
  .serv-container h2{
    text-align: center;
    font-family: 'Aileron-UltraLight';
    font-size: 41px;
    border-bottom: 1px solid #fff;
    max-width: 430px;
    margin: 5px auto;
  }
  .serv-container p{
    text-align: center;
    font-family: 'Aileron-Light';
    text-transform: uppercase;
    font-size: 12px;

    /* border-bottom: 1px solid #fff; */
  }
  
  
  .serv-contents{
    display: flex;
    justify-content: space-between;
    margin:80px 0;
    padding: 0 40px;
  }
  
  .service-theme{
    height: 100%;
    /* background-color: #029094; */
    margin: 40px 0;
    position: relative;
  }
  .service-theme img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .svRow{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    color: #fff;
    font-family: 'Aileron-UltraLight';
  }
  .colnSv{
    margin-top: 27%;
    max-width: 480px;
  }
  .coln2Sv{
    max-width: 700px;
  }
  .subDiv p{
    font-size: 18px;
    position: relative;
  
  }
  .subDiv::before{
    content: "";
    width: 10px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    margin-left: -20px;
    /* top: 0; */
  }
  .coln2Sv button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    padding: 7px 15px;
    letter-spacing: 4px;
  }
  
  .services-colns{
    padding:30px 0px;
    
  }
  .svContents{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
  }
  
  .SvImg{
    width: 50%;
  }
  .SvImg img{
    width: 700px;
  }
  .subDiv p{
    font-family: 'Aileron-Light';
  }
  #svHead{
    font-family: 'Aileron-Light';
    color: #999999;
    padding-bottom: 15px;
  }
  .svdetails{
    width: 46%;
  }
  .services{
    width: 764px;
    /* height: 190px; */
    background-color: #029094;
    color: #fff;
    padding: 15px 40px;
    transform: translatex(-15%);
  }
  .servicesSec{
    width: 764px;
    background-color: #029094;
    color: #fff;
    padding: 15px 40px;
    transform: translatex(0);
  }
  
  .services h4{
    font-family: 'Aileron-Regular';
    margin-top: 15px;
  }
  .services p{
    font-family: 'Aileron-Light';
  }
  .svExploreBtn{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 8px;
  }
  .svExploreBtn-Left button{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #282828;
    color: #282828;
    font-size: 13px;
    padding: 7px 15px;
    letter-spacing: 4px;
  }
  .svExploreBtn button{
    background-color: transparent;
    border: 1px solid #282828;
    color: #282828;
    font-size: 13px;
    padding: 7px 15px;
    letter-spacing: 4px;
  }
  
  
  
  .serv-travel{
    height: 90vh;
    margin: 30px 0;
    position: relative;
  }
  .serv-travel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Svbook-with{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the last value for transparency */
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  color: #fff;
  }
  .Svbook-with h3{
    font-family: 'Aileron-Light';
    font-size: 40px;
  }
  .Svbook-with p{
    font-family: 'Aileron-UltraLight';
    max-width: 400px;
    font-size: 18px;
  }
  .Svlist li h4{
    font-family: 'Aileron-UltraLight';
    text-decoration: underline;
   /* border-bottom: 1px solid #fff; */
    font-size: 26px;
    
  }
  .Svlist li{
    max-width: 430px;
    padding: 8px 0;
  }
  .Svrw1{
    border-bottom: 1px solid #ffffff;
    margin: 8px 0;
  }
  
  .Svlist li{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  #rupees{
    width: 45px;
    margin-left: -10px;
  }
  .Svlist li img{
    width: 35px;
  }

  /* responsivness */

  
@media(max-width:1440px){
  
  .line1{
    display: none;
  }
  .SvImg img{
    width: 600px;
  }
  .services{
    width: 700px;
    height: auto;
    background-color: #029094;
    color: #fff;
    padding: 15px 40px;
    transform: translatex(-10%);
  }
  .servicesSec{
    width: 700px;
    background-color: #029094;
    color: #fff;
    padding: 15px 40px;
    transform: translatex(0);
  }
}
@media(max-width:1024px){
  .serv-container{
    margin-top: 12%;
    
  }
  .SvImg{
    width: 100%;
    margin-bottom: 30px;
  }
  .svContents{
    width: 100%;
    display: block;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
  }
  .services{
    width: 100%;
    height: auto;
    background-color: #029094;
    color: #fff;
    padding: 15px 40px;
    transform: translatex(0);
  }
  .secondSect{
  display: flex;
  flex-direction: column-reverse;
  }
  .svdetails{
    width: 100%;
  }

  .Svbook-with{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the last value for transparency */
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding:35px 35px;
  color: #fff;
  width: 440px;
  }
  .Svbook-with h3{
    font-family: 'Aileron-Light';
    font-size: 28px;
  }
  .Svbook-with p{
    font-family: 'Aileron-UltraLight';
    max-width: 350px;
    font-size: 16px;
  }
  .Svlist li h4{
    font-family: 'Aileron-UltraLight';
    font-size: 26px;
  }
  .Svlist li{
    max-width: 430px;
  }
  .Svrw1{
    border-bottom: 1px solid #ffffff;
    margin: 8px 0;
  }
  
  .Svlist li{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  #rupees{
    width: 45px;
    margin-left: -10px;
  }
  .Svlist li img{
    width: 35px;
  }
}

@media(max-width:999px){
  .Svbook-with p{
    font-family: 'Aileron-UltraLight';
    max-width: 100%;
    font-size: 16px;
  }
  .Svlist li{
    max-width: 100%;
  }

  .Svrw1{
    border-bottom: 1px solid #ffffff;
    margin: 0px 0;
  }
  .Svlink a{
    font-size: 12px;
   
  }


  .service-theme{
    height: 100vh;
    margin: 40px;
    position: relative;
  }

  .svRow{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-65%);
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 50px;
    color: #fff;
    font-family: 'Aileron-UltraLight';
  }
  .colnSv{
    padding-bottom: 10px;
    max-width: 480px;
  }
  
}



@media(max-width:768px){


  .services-colns {
    padding: 30px ;
}

     
      .serv-container{
        margin-top: 14%;
        /* margin-left: 40px;
        margin-right: 40px; */
        
      }

      .service-theme img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 16%;
      }
      .svRow{
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 30px 40px;
        color: #fff;
        font-family: 'Aileron-UltraLight';
      }
      .colnSv{
        padding-bottom: 0;
        max-width: 100%;
      }
      .coln2Sv{
        max-width: 100%;
      }
      .subDiv p{
        font-size: 16px;
        position: relative;
      
      }
      .subDiv::before{
        display: none;
      }
      .SvImg img{
        width: 100%;
      }
      
      .serv-travel{
        height: 100vh;
      
      }
     
      .Svbook-with{
       
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8); /* Adjust the last value for transparency */
        display: flex;
        align-items: center;
        justify-content: center;
        padding:10px 40px;
      color: #fff;
      }
      .Svbook-with h3{
        font-family: 'Aileron-Light';
        font-size: 30px;
      }
      .Svbook-with p{
        font-family: 'Aileron-UltraLight';
        max-width: 100%;
        font-size: 16px;
      }
      .Svlist li h4{
        font-family: 'Aileron-UltraLight';
        font-size: 20px;
      }
      .Svlist li{
        max-width: 100%;
      }
      .Svrw1{
        border-bottom: 1px solid #ffffff;
        margin: 8px 0;
      }
      
      
     
}

@media(max-width:600px){
  .Svbook-with{
    width: 85%;

  }
  .serv-container{
    margin-top: 20%;
    
  }
  .Svrw1{
    border-bottom: 1px solid #ffffff;
    margin: 10px 0;
  }


}
@media(max-width:500px){
  .svExploreBtn-Left button {
   
    margin-left: 10px;
  }
  #svHead {

    padding-left: 12px;
}
 
  .Svlist li{
        display: block;
        align-items: center;
        gap: 30px;
      }
      .svRow{
        width: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        padding: 30px 020px;
      }
      .colnSv h1{
        font-size: 24px;
      }
      .subDiv p{
        font-size: 14px;
        position: relative;
      
      }

}
@media(max-width:450px){
  .serv-travel {
    height: 90vh;
    margin: 84px 0;
  }
  .serv-container h2 {
    font-size: 31px;
  }
  .serv-container p {
    font-size: 12px;
  }
  .serv-container{
    margin-top: 25%;
    padding: 0 30px;
  }
  .Svbook-with h3{
    font-family: 'Aileron-Light';
    font-size: 25px;
  }
  .Svbook-with p{
    font-family: 'Aileron-UltraLight';
    max-width: 100%;
    font-size: 14px;
  }
}

@media(max-width:400px){

  
  .logo img{
    width: 150px !important;
    height: auto !important;
  }

  .serv-container{
    margin-top: 30%;
  }
  .serv-container h2{
    text-align: center;
    font-family: 'Aileron-UltraLight';
   
  }
  .serv-container p{
    text-align: center;
    font-family: 'Aileron-Light';
    text-transform: uppercase;
   
  }


  .explore{
 margin-bottom: 35px;
  }
  
 .Svbook-with{
    padding: 5px 20px;
  }
 

    .Svbook-with {
        width: 89%;
        height: auto;
        position: absolute;
      top: 46%;
    }
}

@media (min-width: 1024px)and (max-width:1440px){
  .Svbook-with {
 
    padding: 10px 50px;
    color: #fff;
}
}
/* @media (min-width: 1024px) and (max-width: 1440px) {
  .Svbook-with {
    padding: 10px 50px;
    color: #fff;
  }
} */
