.reslogo{
  display: none;
}

.services-dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown-content {
     display: none;
     position: absolute;
     left: -34px;
     font-family: 'Aileron-Light';
     border-radius: 10px;
   
     /* background-color: #f9f9f9; */
     /* min-width: 160px; */
     background-color: white;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
     padding: 0;
}

.dropdown-content .sugli {
  padding: 7px 23px !important;
  text-decoration: none;
  display: block;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
}

.services-dropdown:hover .dropdown-content {
  display: block;
}

.no-underline{
  text-decoration: none;
  color: #000;
}


.dropdown-content li {
  white-space: nowrap;
}

















/* //ende */
.header.scrolled {
  background-color: white ;
}
header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100% ;
    z-index: 1000;
    /* background-color: #414141;  */
    padding: 0 120px;
  }

.navbar{
  width: 100% !important;
  display: flex ;
  align-items: center;
  justify-content: space-between ;
}
.logo img{
  width: 180px !important;
  height: auto !important;
}
.nav{
  display: block !important;
  align-items: center;
}
.link{
  padding-right: 10px;
  margin-left: 22%;
  border-bottom: 1px solid #000;
  max-width: 400px;
  display: flex ;
  align-items: center;
  margin-bottom: 3px;

}
.line-bar{
  width: 1px;
  height: 15px;
  background-color: #000;
  margin: 0 5px;
}
.link li{
  padding: 0 7px;
}

.link a{
  text-align: right;
  text-decoration: none;
  color: #000;
  font-family: 'Aileron-Light';
  text-transform: uppercase;
  font-size: 12px;
  /* font-weight: 600; */
}
.resLnk{
  display: none;
}
.link a:hover{
  color: #00666a;
}
.menuBar{
  display: flex;
  position: relative;
}
.btn-close1{
  position: absolute;
  right: 30px;
  top: 10px;
  display: none;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
}
.menuBar li{
  padding: 0 10px;
}
.menuBar li a{
  text-decoration: none;
  color: #000;
  font-family: 'Aileron-Light';
}
.menuBar li a:hover{
  color:#00656b;
  font-weight: 600;
}
.bar{
  border-radius: 3px;
  cursor: pointer;
  display: none;
}
.fa-bars {
  font-size: 25px;
  /* color: #00656b; */
}

@media(max-width:1440px){


  .forms-coln{
    width: 52%;
    height: auto !important;
    padding: 20px 30px;
  }
  .head{
    padding:0 20px;
    margin-top: 10px;
  }
  .form_Book input{
    width: 100%;
    padding: 5px 30px;
    border-radius: 50px;
    margin: 5px 10px;
    outline: none;
  }
  .search-btn{
    margin-top: 10px;
  }
  .frm-head h5{
    font-size: 18px;
  }
  .frm-head p{
    font-size: 14px;
  }
}
@media(max-width:1024px){
  .head{
    gap: 5px;
  }
  .form_Book input::placeholder{
    color: #000;
    font-size: 12px;
  }
  .frm-head{
    text-align: center;
    margin-top: 5px;
  }
  .frm-head p{
    font-size: 12px;
  }
  .search-btn button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
font-size: 13px;
  }
}
@media(max-width:999px){
  .add-filter {
    position: absolute;
    right: 0;
    top: 0;
    /* filter: grayscale(1);  */
    width: calc(100% - 52%);
    height: 100%;
    z-index: 2; 
    border-left: 1px solid #fff;
  }
  header {
    top: 0;
    /* padding: 0 0; */
  }
 
  .menuBar li{
    padding: 0 8px;
    text-align: center;
  }
  .head h4{
    font-size: 17px;
  }
  .head h4 span{
    font-size: 19px;
  }
  .link{
    max-width: 350px;
  }
  .link a{
    font-size: 11px;
  }
}

@media(max-width:768px){
 
  

   
  .add-filter {
    width: calc(100% - 399px);
  }
   
  .formBook input{

    width: 100%;
    padding: 5px 30px;
    margin: 5px 10px;
  }
  .frm-head{
    text-align: center;
    margin-top:5px;
  }
  .frm-head h5{
    font-size: 14px;
  }
  .search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
  }
  .frm{
    margin-top: -14px;
  }
}

@media(max-width:900px){
  /* .mainMenu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  } */
  .services-dropdown:hover .dropdown-content {
    display: none;
}
.services-dropdown {
  display: block;
}
      
.header {
  padding: 0 0;
}
.logo {
  padding-left: 30px;
  padding-top: 20px;
}
.btn-close1{
  display: block;
  top: 30px;
  right: 30px;
}
  .btn-close1{
    display: block;
  }
  .navbar{
    display: flex ;
    align-items: start !important;
    justify-content: space-between;
    padding:  20px !important;
    position: relative;
  
  }
      .nav{
        width: 100% !important;
        height: 90vh;
        background-color: #00656b;
        opacity: 0;
        visibility: hidden;
        transform: translateX(40px);
        transition: 0.4s linear;
        position: absolute;
        z-index: 9999;        
        top: 0;
        right: 0;
       
        opacity: 0.7;
      }
      .nav.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        display: flex !important;
        align-items: center;
        justify-content: center;

      }
     
    
      .link{
        display: none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        border-bottom: none;
      }
      .resLnk{
        display: block ;
      }
      .line-bar{
       display: none;
      }
      .link li{
        padding: 5px 0;
       
      }
      .link a:hover{
        color: #fff;
        border-bottom: 1px solid #fff;
      }
      .menuBar li a:hover{
        color:#fff;
        font-weight: normal;
        border-bottom: 1px solid #fff;
      }

      .link a{
        color: #ffffff;
        font-size: 20px;
        text-transform: none;
      }
      .nav a{
        color: #fff;
      }
    .menuBar{
        display: block;
        padding-left: 0;
      }
      .menuBar li{
        padding: 8px 0;
        text-align: center;
      }
      .menuBar li a{
        color: #fff;
        font-weight: 500;
        font-size: 20px;
      }
      .bar{
        display: block;
      }
   
}

@media(max-width:600px){
  .reslogo{
    display: block;
    position: absolute;
    top: 56px;
    left: 60px;
  }
  .reslogo img{
    width: 160px;
  }
  .mainMenu{
    position: absolute;
    left: 60px;
    top: 98px;
  }
  .menuBar li{
    padding: 8px 0;
    text-align: left;
  }
 
  .link{
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    border-bottom: none;
  }

 
  .menuBar li a{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: left !important;
  }
  .link li a{
    text-align: right;
    text-transform: capitalize;
    font-size: 16px !important;
    font-family: 'Aileron-UltraLight';
    letter-spacing: 1px;
  }
  .add-filter {
    position: absolute;
    right: 0;
    top: 0;
    /* filter: grayscale(1);  */
    width: calc(100% - 52%);
    height: 100%;
    z-index: 2; 
    border-left: 1px solid #fff;
  }
  .image img{
    width: 180px !important;
    height: auto !important;
    background: transparent;
  
  }
 
  
  .coln1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;
    padding: 20px 0;
  }
  .cont1{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Aileron-Thin';
    /* margin: 0 8px; */
  }
  .circle{
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .circle img{
    width: 20px;
  }
 
  .cont1 p{
    padding-top: 10px;
    font-size: 12px;
  }
  /* .line{
   border-right: none;
  } */
  .txtEmail{
    width: 100%;
  }

  .heroSlide img{
    width: 100%;
    height: 80vh;
    position: relative;
  }
  .coln2{
    display: block;
    margin: 0px auto;
    margin-top: -10px;
  }
  
  .subscribe{
    max-width: 100% ;
    text-align: center;
   

  }
  .subscribe p{
    font-family: 'Aileron-Thin';
    max-width: 300px;
  }
  .txtEmail{
    width: 100%;
  }
  .copyright p{
    text-align: center;
    font-size: 13px;
  }
}
@media(max-width:500px){
  .heroSlide img {
    width: 100%;
    height: 80vh;
    position: relative;
    object-fit: cover;
    object-position: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sliderCont{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 0;
    max-width: 250px;

  }
  .sliderCont h2{
    color: #000000;
    font-family: 'Aileron-Thin';
    /* text-transform: uppercase; */
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    
  }
   
  .add-filter {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 2; 
    border-left: none;
  }
  .btns{
    height: 100vh;
    top: 53.6%;
    bottom: 0 !important;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .form-btns{
    /* width: 250px; */
    height: 160px;
    padding: 10px;
    background-color: #4141417d;
    color: #fff;
    filter: grayscale(0);
    border: 1px solid #fff;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .form-btns h6{
    font-size: 14px;
    max-width: 150px;
    text-align: center;
  }
  .form-btns h6 span{
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  .form-btns img{
    width: 50px!important;
    height: auto !important;
    z-index: 9999;
    margin-left: 0;
    margin-bottom:5px;
  }
  .forms-coln{
    width: 100%;
    height: 100%;

  }
}

@media(max-width:400px){
  .logo {
    padding-left: 10px;
    padding-top: 20px;
  }

  .bar{
    background-color: #00666a;
    padding: 3px 8px;
    margin-top: 20px;
  }
  .fa-bars {
    font-size: 25px;
    color: #ffffff;
  } 

  .sliderCont{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 15%;
    right: 0;
    max-width: 250px;

  }
  .btns{
    height: 100vh;
    top: 57%;
  }
  .form-btns{
    /* width: 250px; */
    height: 140px;
    padding: 10px;
    background-color: #4141417d;
    color: #fff;
    filter: grayscale(0);
    border: 1px solid #fff;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .form-btns h6{
    font-size: 13px;
    max-width: 120px;
    text-align: center;
  }
  .form-btns h6 span{
    font-size: 11px;
    font-weight: 300;
    text-align: center;
  }
 
  .cont1{
    display: flex;
    align-items: center;
    gap:0;
    font-family: 'Aileron-Thin';
  }
  .line{
    border-right: 1px solid #00666a;
    padding-right: 0px;
  }
  .cont1 p{
    font-size: 9px;
  }
  .cont1{
    gap: 8px;
  }
  .circle{
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }
  .circle img{
    width: 15px;
  }

 
}
@media(max-width:350px){
  .circle{
    width: 33px;
    height: 28px;
    border-radius: 50px;
  }
  .circle img{
    width: 15px;
  }
  .line{
    border-right: 1px solid #00666a;
    padding-right: 2px;
  }
  .coln1{
    gap: 3px;
  }
}